* {
  padding: 0;
  margin: 0;
}

/* GENERAL STYLING */

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* HEADING STYLING */

header {
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main,
footer {
  position: relative;
  top: 69px;
}

header .logo {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

header nav span {
  padding-left: 25px;
}

header a {
  color: inherit;
}
